<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/NewsArticle">
  <head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" type="text/css" href="{{ assetPath("application.css") }}"/>
    <link href="https://d2nx6ydw3e5y5d.cloudfront.net/assets/current.css" media="screen" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript" src="{{ assetPath("application.js") }}"></script>
    <meta name="twitter:widgets:csp" content="on">
    {{ meta.display([], true)|raw }}

    <!-- Google ads -->
    <script src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>
    {% include 'ads/common/all_ads' %}
    <!-- End Google ads -->

    <!-- Qlitics Snippet -->
    <script>
      window.qlitics=window.qlitics||function(){(qlitics.q=qlitics.q||[]).push(arguments);};
      qlitics('init');
      qlitics('track', 'page-view', {'page-type': "{{ page.type }}" });
    </script>
    <script async src='/qlitics.js'></script>
    <!-- End Qlitics Snippet -->
  </head>
  <body class='page'>
    <script type="text/javascript">var qtReady = qtReady || [];</script>

    <div class="header">
      {% include "/shared/header" %}
    </div>

    <div class="content {{ page.type }}">
      {% block content %}{% endblock %}
    </div>

    <div class="footer">
      {% include "/shared/footer" %}
    </div>

    <script type="text/javascript">
      var qtConfig = {
          "image-cdn": "{{config("quintype.image-cdn")}}",
          "publisher-name": "{{config("quintype.publisher-name")}}",
          "polltype-host": "{{config['polltype-host']}}"
      };
    </script>

    <script type="text/javascript">
      app.initQtReady();
    </script>

    <script type="text/javascript">
      var parentElement = '.js-desktop-submenu';
      var targetElement = '.js-submenu-stories-container';
      var triggerElement = '.js-desktop-submenu__item';
      var fields = "id,headline,slug,url,hero-image-s3-key,hero-image-metadata,first-published-at,last-published-at,alternative,published-at,author-name,author-id,sections,story-template,summary,metadata,hero-image-attribution,cards,subheadline,authors";
      var params = {"limit": 8, "story-group": "top", "fields": fields}
      qtReady.push(function() { app.subSectionStories(parentElement, triggerElement, targetElement, params); })
    </script>
  </body>
</html>
