<!DOCTYPE html>
<html>
  <head>
    <title>Quintype Sample App</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" type="text/css" href="{{ assetPath("application.css") }}"/>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
     <script type="text/javascript" src="{{ assetPath("application.js") }}"></script>

<script type='text/javascript'>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') +
      '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
  })();
</script>

<script type='text/javascript'>
  googletag.cmd.push(function() {
    googletag.defineSlot('/60988533/CLMTDESK_Home_300x250_01', [300, 250], 'div-gpt-ad-1467975036401-0').addService(googletag.pubads());
    googletag.defineSlot('/60988533/CLMTDESK_Home_300x250_02', [300, 250], 'div-gpt-ad-1467975036401-1').addService(googletag.pubads());
    googletag.defineSlot('/60988533/CLMTDESK_Home_Banner_01', [[728, 90], [320, 50]], 'div-gpt-ad-1467975036401-2').addService(googletag.pubads());
    googletag.defineSlot('/60988533/CLMTDESK_Home_Banner_02', [[728, 90], [320, 50]], 'div-gpt-ad-1467975036401-3').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();
  });
</script>


  </head>
<body class='page'>
    <script type="text/javascript">var qtReady = qtReady || [];</script>


<!-- <div class="ad_big" placeholder="Advertisement"> LEADERBOARD AD 728x90</div> -->


	<div class="header">
	 <div class="content">
	 <div class="menubarimg"><span class="menubar">
<svg width="28px" height="20px" viewBox="0 0 28 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>Artboard 10</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-10" fill="#48C6D6">
            <g id="Group-Copy" transform="translate(1.000000, 3.000000)">
                <rect id="menubar1" x="0" y="6.5" width="26" height="2"></rect>
                <rect id="menubar1" x="0" y="0" width="26" height="2"></rect>
                <rect id="menubar1" x="0" y="13" width="26" height="2"></rect>
            
        </g>    </g>
</svg>

   </span>

           <div class="menuitems">
             <ul>
               {% for menuItem in menuItems %}
	       <li><a href="{{menuItem.url()}}">{{menuItem.title()}}</a></li>
	       {% endfor %}

             </ul>

           </div>

         </div>
         <div class="logo">
            <a href="{{ url()}}"> <img class="logoview" src='{{ assetPath("climatedesk_logo.png") }}' /> </a></div>
    <div class="mob_buttons"> <ul>
	 <li><a href="#" class="donate">Donate</a></li>
	 <li><button id="search_init1" class="search_butn">Search</button></li>
	 </ul>
	 </div>

<div class="nav-search" >
<div class="layout-search" id="main-search">
  <form class="search-form" role="search" action="/search">
    <div class="form-el">
        <input type="text" class="form-input" name="q" placeholder="Search for anything..">
      </div>
  </form>
</div>
</div>

	 <nav><ul>
	 <li class="socialicon"><a href="#"><img src="{{ assetPath("icons/facebook_b.svg") }}" /></a></li>
	 <li class="socialicon"><a	href="#" ><img src="{{ assetPath("icons/twitter_b.svg") }}" /></a></li>
	 <li class="socialicon"><a	href="#"><img src="{{ assetPath("icons/youtube_b.svg") }}" /></a></li>
	 <li><a href="#" class="donate">Donate</a></li>
	 <li><button id="search_init" class="search_butn">Search</button></li>

	 </ul></nav>
	 </div>
	 </div> <!-- Header Close-->
	<!--
      <div class="layout-menu">
	{% block menu %}
	<ul>
	  {% for menuItem in config.menuItems() %}
	  <li><a href="{{menuItem.url()}}">{{menuItem.title()}}</a></li>
	  {% endfor %}
	</ul>
	{% endblock %}
      </div>
       -->
	  
	

	  {% block content %}{% endblock %}

	  
	
     
<div class="section"><!--  Section 6 open-->

        <div class="sectiontitle patner"><span>OUR PARTNERS</span></div>
        <div class="patners">
            <ul id="clientsdesk">
                <li><img src="{{ assetPath('patner-logos/atlantic.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/citylab.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/fusion.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/grist.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/guardian.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/huffpost.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/medium.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/motherjones.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/newrepublic.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/n.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/reveal.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/slate.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/wired.png') }}" /></li>
            </ul>

            <ul id="slider">
                <li><img src="{{ assetPath('patner-logos/atlantic.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/citylab.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/fusion.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/grist.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/guardian.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/huffpost.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/medium.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/motherjones.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/newrepublic.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/n.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/reveal.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/slate.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/wired.png') }}" /></li>
            </ul>
        </div>
    </div>
</div><!-- content close-->

	 </div><!-- Container close-->
	<div class="footer"> <div class="content">
	<div class="section">
<div class="footerblock"><!--  Article1 open-->
			<img src='{{ assetPath("climatedesk-white.png") }}' />
					<div class="textwrap">
						<ul>
						<li> <a href="/about-us">ABOUT US </a></li>
						<li> <a href="#">INQUIRING MINDS </a></li>
						<li> <a href=""> ADVERTISE</a></li>
						<li> <a href="/privacy-policy">PRIVACY POLICY</a></li>
						<li> <a href="/terms-and-conditions">TERMS OF USE</a></li>
						</ul>
					</div><!-- textwrap close -->		
						
		</div>	
		
		<div class="footerblock"><!--  Article1 open-->
				<h5>ABOUT CLIMATE DESK</h5>
			
					<div class="textwrap">
				
						Each week the Inquiring Minds podcast brings you a new, in-depth exploration of the place where science, politics, and society collide. We're committed to the idea that making an effort to understand the world around you.
					</div><!-- textwrap close -->		
						
		</div>	
		
		<div class="footerblock"><!--  Article1 open-->
			<h5>GET IN TOUCH</h5>
					<div class="textwrap">
						<ul>
						<li> <a href="#"><span class="icons"><svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>Artboard 29</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-29" fill="#FFFFFF">
            <path d="M12.0228871,4.428099 C11.9442184,4.428099 11.8601034,4.45318798 11.7687267,4.50222559 C11.67735,4.5512631 11.5992865,4.61854715 11.5345361,4.70464801 C11.4691806,4.7901786 11.4171382,4.89452599 11.378409,5.01711983 C11.3390747,5.13971366 11.3197101,5.27485203 11.3197101,5.42196477 L11.3197101,7.37263286 L14.8743243,7.37263286 L14.8743243,10.133561 L11.3197101,10.133561 L11.3197101,18.4516982 L7.92122292,18.4516982 L7.92122292,10.133561 L4.87432432,10.133561 L4.87432432,7.37263286 L7.92122292,7.37263286 L7.92122292,5.71676021 C7.92122292,5.1522582 8.02530772,4.61227488 8.23347712,4.09681048 C8.44164652,3.58191614 8.72848472,3.12803371 9.09278122,2.7351631 C9.45768282,2.34286269 9.88733492,2.03609289 10.3817373,1.81485372 C10.8767449,1.59418474 11.4237948,1.48356514 12.0228871,1.48356514 L14.8743243,1.48356514 L14.8743243,4.428099 L12.0228871,4.428099" id="fb-copy-2"></path>
        </g>
    </g>
</svg></span>Facebook</a></li>			
						<li><a	href="#"><span class="icons"><svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <title>Artboard 29 Copy</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-29-Copy" fill="#FFFFFF">
            <path d="M18.2572268,5.22683007 C18.1302777,5.39301792 17.9978802,5.54741534 17.8594893,5.69002245 C17.7210984,5.83206821 17.5712658,5.97467532 17.4099914,6.11728243 C17.248717,6.25988954 17.0874426,6.39070633 16.9261682,6.50917136 L16.9261682,6.61640741 C16.9261682,6.63998815 16.9316167,6.6753592 16.9430584,6.72308202 C16.9550451,6.77080494 16.9604935,6.806176 16.9604935,6.82975663 L16.9604935,6.97236384 C16.9604935,8.08851728 16.7529072,9.23498884 16.3382794,10.4106555 C15.9231069,11.5863222 15.3123345,12.6373479 14.5059626,13.5631714 C13.6990458,14.4895564 12.7025225,15.2559294 11.5153032,15.8611675 C10.328084,16.4669671 8.97414177,16.7577958 7.45293193,16.7342151 C6.96856391,16.7577958 6.50217574,16.7286007 6.05267786,16.6449452 C5.60317998,16.5618514 5.15913055,16.4613526 4.72161923,16.3423262 C4.28356314,16.2238612 3.86839054,16.0632878 3.47664631,15.8611675 C3.08490208,15.6596086 2.69315785,15.4518738 2.30141363,15.2379631 C2.37060907,15.2143824 2.4398045,15.2082064 2.50899994,15.2199968 C2.57765052,15.2317872 2.64684595,15.2379631 2.71604139,15.2379631 C2.78523682,15.2379631 2.85443226,15.2435776 2.92362769,15.2559294 C2.99282312,15.2677197 3.06201855,15.2615438 3.13121399,15.2379631 C3.52295822,15.2615438 3.90326067,15.2317872 4.27212137,15.1486933 C4.64098205,15.0655993 4.99785619,14.970715 5.34383331,14.8640404 C5.68926561,14.7568044 6.023801,14.6024068 6.34634983,14.4008479 C6.66889866,14.1987276 6.98000565,14.0027832 7.2796709,13.8130146 C6.91135513,13.7652918 6.55938462,13.6883737 6.22539406,13.5811377 C5.89140349,13.4744631 5.58574496,13.3082752 5.30896318,13.0825742 C5.03272632,12.8568731 4.79626313,12.6075914 4.60066346,12.3341675 C4.40451896,12.061305 4.24869299,11.7345437 4.1337305,11.3544452 C4.18004241,11.4021681 4.23180277,11.4257487 4.28901159,11.4257487 C4.34676525,11.4257487 4.40451896,11.4319247 4.46227257,11.443715 C4.51948145,11.4555054 4.57178661,11.4555054 4.61755365,11.443715 C4.66386563,11.4319247 4.7101775,11.4375392 4.75594454,11.4616812 C4.84802356,11.4375392 4.92866074,11.4319247 4.99785619,11.443715 C5.06705163,11.4555054 5.14224036,11.4493295 5.22287754,11.4257487 C5.30351472,11.4021681 5.37815862,11.3903777 5.44735407,11.3903777 C5.51654951,11.3903777 5.58574496,11.3662356 5.6549404,11.3190741 C5.26319613,11.2477706 4.90577717,11.1051635 4.58322844,10.8912527 C4.26067961,10.677342 3.97790457,10.4280603 3.73599298,10.1434075 C3.49408138,9.85819324 3.30393015,9.52581755 3.16553929,9.14571894 C3.02714842,8.76562043 2.95795298,8.3737315 2.95795298,7.97005226 L2.95795298,7.91671495 C3.07346032,7.99363299 3.19441612,8.05932206 3.32136521,8.09469322 C3.44776947,8.13006427 3.57471858,8.17161115 3.70166768,8.21933407 C3.82807194,8.26705689 3.95502104,8.29681356 4.08197015,8.30860388 C4.2083744,8.3203942 4.3413168,8.33836045 4.47916286,8.36194118 C4.24869299,8.17161115 4.0471,7.98184268 3.87438384,7.79207409 C3.70166768,7.60174407 3.54584174,7.37604308 3.40745088,7.11497095 C3.26960486,6.85389881 3.16553929,6.59226523 3.09634385,6.3311932 C3.02714842,6.07012106 2.99282312,5.77311642 2.99282312,5.44074074 C2.99282312,5.32171426 3.00426488,5.17910715 3.02714842,5.01291931 C3.0505768,4.84673146 3.07890877,4.69850987 3.11377892,4.56769318 C3.14864905,4.43687639 3.19441612,4.29426917 3.25216979,4.13987175 C3.30992346,3.98547422 3.37312558,3.86083336 3.44232102,3.76594907 C3.85694877,4.26507406 4.31788843,4.73388092 4.82513999,5.17349277 C5.33239158,5.61254307 5.87996176,5.98085126 6.4673056,6.27785579 C7.05519437,6.57486043 7.67196,6.81796631 8.31705755,7.00829634 C8.96270003,7.19806482 9.63122598,7.30473953 10.3226355,7.32888161 C10.3226355,7.28115879 10.3166421,7.22164556 10.3052004,7.150342 C10.2937587,7.0795999 10.281772,7.01391073 10.2703303,6.95439759 C10.2588885,6.8954458 10.2534401,6.82975663 10.2534401,6.75845308 L10.2534401,6.58047491 C10.2534401,6.08191138 10.3395257,5.63050932 10.5127867,5.22683007 C10.6855028,4.82315083 10.921966,4.45484264 11.2210864,4.12246695 C11.5207517,3.78952981 11.8781707,3.54024799 12.2933432,3.37406015 C12.707971,3.2078724 13.1460271,3.11298811 13.6069667,3.08884593 C13.8374365,3.11298811 14.0679065,3.14274468 14.2983763,3.17811573 C14.5288461,3.21348679 14.7478741,3.28479034 14.9554605,3.3920265 C15.1625019,3.49870111 15.3586465,3.61772748 15.5428043,3.74798282 C15.7275072,3.87879961 15.8887815,4.03937297 16.0271724,4.22914155 C16.2113303,4.157838 16.3960331,4.09832476 16.580191,4.05116339 C16.7648938,4.00344047 16.9490517,3.94392723 17.1332096,3.87262368 C17.3179124,3.80188157 17.4906286,3.72440209 17.6519029,3.64130821 C17.8131774,3.55821424 17.9744518,3.45715412 18.1362711,3.33868909 C18.0899591,3.57618049 18.0147704,3.77773949 17.9112496,3.94392723 C17.8077289,4.11011508 17.6982149,4.28247886 17.5827076,4.46101847 C17.4677451,4.63899673 17.3293542,4.78721833 17.1680797,4.9062447 C17.0068054,5.02470973 16.845531,5.15552652 16.6837117,5.29813363 C16.845531,5.25041071 17.0122538,5.21503965 17.1855149,5.19089757 C17.3582311,5.16731683 17.5254987,5.12576985 17.6867731,5.06625661 C17.8480475,5.00674347 18.0033286,4.95340617 18.1531612,4.9062447 C18.3029939,4.85852188 18.4588198,4.79900864 18.6200942,4.72770509 C18.5051318,4.9062447 18.3836311,5.06064223 18.2572268,5.22683007 L18.2572268,5.22683007 Z" id="tw-copy-3"></path>
        </g>
    </g>
</svg></span>Twitter</a></li>
						<li> <a	href="#"> <span class="icons">
							<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>Artboard 29 Copy 2</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-29-Copy-2" fill="#FFFFFF">
            <path d="M19.3901002,6.41420344 C19.3901002,4.84501455 18.1190002,3.57307011 16.5506557,3.57307011 L3.2295446,3.57307011 C1.66120015,3.57307011 0.390100153,4.84501455 0.390100153,6.41420344 L0.390100153,14.0319368 C0.390100153,15.6011257 1.66120015,16.8730701 3.2295446,16.8730701 L16.5506557,16.8730701 C18.1190002,16.8730701 19.3901002,15.6011257 19.3901002,14.0319368 L19.3901002,6.41420344 L19.3901002,6.41420344 Z M7.99010015,13.4372368 L7.99010015,6.28162566 L13.4160779,9.85932566 L7.99010015,13.4372368 L7.99010015,13.4372368 Z" id="YouTube__x28_alt_x29_-Copy"></path>
        </g>
    </g>
</svg>
						</span> Youtube</a></li>
						</ul>
					</div><!-- textwrap close -->		
						
		</div>	
</div>
</div>

		<div class="clear"></div>
	<div class='footer-short'><div class="content"><center>&copy; Copyright 2016  -  Climatedesk   <a href="http://www.quintype.com/"> Powered by Quintype</a></center></div></div>
	</div> <!-- Footer Close -->
	
	
	
    <script type="text/javascript">
      var qtConfig = {
        "image-cdn": "{{config("quintype.image-cdn")}}"
      };
    </script>
	
		<script type="text/javascript">
  		$(document).ready(function(){

       

 
 $('div').click(function (e) {
//  alert(e.target.id);
    if (e.target.id == 'menubar1') {
      
      $(".menuitems").show();
    } else {
 
       $(".menuitems").hide();
      

    }
});


     		$('#slider').bxSlider({
    		ticker: true,
    		tickerSpeed: 5000,
			tickerHover: true
  		});
         $('#search_init,#search_init1').click(function()
        {
         
$(".nav-search").show();
        });

  		});
		</script>
    <script type="text/javascript">
      app.initQtReady();
     
    </script>
  </body>
</html>
