<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/NewsArticle">
  <head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href="https://d2nx6ydw3e5y5d.cloudfront.net/assets/current.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ assetPath("application.css") }}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript" src="{{ assetPath("application.js") }}"></script>
    <meta name="twitter:widgets:csp" content="on">
    {{ meta.display([], true)|raw }}

    <!-- Google ads -->
    <script src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>
    {% include 'ads/common/all_ads' %}
    <!-- End Google ads -->

    <!-- Qlitics Snippet -->
    <script>
      window.qlitics=window.qlitics||function(){(qlitics.q=qlitics.q||[]).push(arguments);};
      qlitics('init');
      qlitics('track', 'page-view', {'page-type': "{{ page.type }}" });
    </script>
    <script async src='/qlitics.js'></script>
    <!-- End Qlitics Snippet -->
  </head>
  <body class='page'>
    <script type="text/javascript">var qtReady = qtReady || [];</script>
    <style>
      .metype-feed-iframe {
        position: fixed;
        border: none;
        top: 0;
        right: 0;
        width: 360px;
        transform: translate3d(100%, 0, 0);
        transition: ease-out 0.3s;
        z-index: 101;
        height: 100% !important;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }

      .metype-clickthru {
        background: url("http://localhost:3000/quintype/metype/assets/icons/metype-icon-4ee8eea1714db6ce12097ce34d2a4650b2964e6255f149df024b6de6bf650131.svg") no-repeat center center;
        height: 50px;
        width: 50px;
        background-size: 50%;
        text-indent: 0;
        background-color: white;
        position: fixed;
        bottom: 200px;
        right: 0;
        border: 2px solid #3a9fdd;
        border-right: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
    <div id="feed-metype-container" class="feed-iframe-container" data-metype-account-id="1" data-metype-host="http://localhost:3000/" data-metype-publisher="METYPE-DEMO">
      <div class="metype-clickthru" onClick="talktype.toggleButton()"></div>
    </div>

    <script type="text/javascript">
      window.talktype=window.talktype||function(f){if(talktype.loaded)f();else(talktype.q=talktype.q||[]).push(arguments);};
      talktype(function() {
       talktype.feedWidgetIframe(document.getElementById("feed-metype-container"));
     });
    </script>
    <script src="http://localhost:3000/quintype/metype/assets/application.self-4368057e35c9de4a3a7064e31aa8156c50e1cc8e985846ccbeba6e172888de3d.js?body=1" async="async"></script>
    <div class="header">
      {% include "/shared/header" %}
    </div>

    <div class="content {{ page.type }}">
      {% block content %}{% endblock %}
    </div>

    <div class="footer">
      {% include "/shared/footer" %}
    </div>

    <script type="text/javascript">
      var qtConfig = {
          "image-cdn": "{{config("quintype.image-cdn")}}",
          "publisher-name": "{{config("quintype.publisher-name")}}",
          "polltype-host": "{{config['polltype-host']}}"
      };
    </script>

    <script type="text/javascript">
      app.initQtReady();
    </script>

    <script type="text/javascript">
      var parentElement = '.js-desktop-submenu';
      var targetElement = '.js-submenu-stories-container';
      var triggerElement = '.js-desktop-submenu__item';
      var fields = "id,headline,slug,url,hero-image-s3-key,hero-image-metadata,first-published-at,last-published-at,alternative,published-at,author-name,author-id,sections,story-template,summary,metadata,hero-image-attribution,cards,subheadline,authors";
      var params = {"limit": 8, "story-group": "top", "fields": fields}
      qtReady.push(function() { app.subSectionStories(parentElement, triggerElement, targetElement, params); })
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  </body>
</html>
