<!DOCTYPE html>
<html>
  <head>
    <title>Quintype Sample App</title>
    <link rel="stylesheet" type="text/css" href="{{ assetPath("application.css") }}"/>
  </head>
<body class='page'>
    <script type="text/javascript">var qtReady = qtReady || [];</script>
	<div class="header">
	 <div class="content">
	 <div class="logo"><a href="#"><img  class="menubar" src='{{ assetPath("icons/menu_b.svg") }}' /></a><img src='{{ assetPath("climatedesk_logo.png") }}' /> </div>		
	 <nav><ul>
	 <li><a href="#"><img src="{{ assetPath("icons/facebook_b.svg") }}" /></a></li>
	 <li><a	href="#" ><img src="{{ assetPath("icons/twitter_b.svg") }}" /></a></li>	 
	 <li><a	href="#"><img src="{{ assetPath("icons/youtube_b.svg") }}" /></a></li>
	 <li><a href="#" class="fill">Donate</a></li>
	 <li><a	href="#" class="empty">Search</a></li>
	
	 </ul></nav>	
	 </div>
	 </div> <!-- Header Close-->
	<!--
      <div class="layout-menu">
	{% block menu %}
	<ul>
	  {% for menuItem in config.menuItems() %}
	  <li><a href="{{menuItem.url()}}">{{menuItem.title()}}</a></li>
	  {% endfor %}
	</ul>
	{% endblock %}
      </div>
       -->
	  
	

	  {% block content %}{% endblock %}

  	
	  
	
     

	 </div><!-- Container close-->
	<div class="footer"> <div class="content">
	<div class="section">
<div class="footerblock"><!--  Article1 open-->
			<img src='{{ assetPath("climatedesk-white.png") }}' />
					<div class="textwrap">
						<ul>
						<li> ABOUT US </li>
						<li> INQUIRING MINDS </li>
						<li> ADVERTISE</li>
						<li> PRIVACY POLICY</li>
						<li> TERMS OF USE</li>
						</ul>
					</div><!-- textwrap close -->		
						
		</div>	
		
		<div class="footerblock"><!--  Article1 open-->
				<h5>ABOUT CLIMATE DESK</h5>
			
					<div class="textwrap">
				
						Each week the Inquiring Minds podcast brings you a new, in-depth exploration of the place where science, politics, and society collide. We're committed to the idea that making an effort to understand the world around you.
					</div><!-- textwrap close -->		
						
		</div>	
		
		<div class="footerblock"><!--  Article1 open-->
			<h5>GET IN TOUCH</h5>
				
					<div class="textwrap">
						<ul>
						<li> Facebook</li>					
						<li> Twitter</li>
						<li> Youtube</li>
						</ul>
					</div><!-- textwrap close -->		
						
		</div>	
</div>
</div>

		<div class="clear"></div>
	<div class='footer-short'><div class="content"><center>&copy; <B>Copyright 2016 - Climatedesk  </B> Powered by Quintype</center></div></div>
	</div> <!-- Footer Close -->
	
	
	
    <script type="text/javascript">
      var qtConfig = {
        "image-cdn": "{{config("quintype.image-cdn")}}"
      };
    </script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{{ assetPath("application.js") }}"></script>
	
		<script type="text/javascript">
  		$(document).ready(function(){
     		$('#slider').bxSlider({
    		ticker: true,
    		tickerSpeed: 5000,
			tickerHover: true
  		});
  		});
		</script>
    <script type="text/javascript">
      app.initQtReady();
    </script>
  </body>
</html>
