<div class="author-page">
    <section class="author-page__image-section">
        <div class="author-details">
            <div class="author-image">
                {% if authorDetails['avatar-url'] %}
                    <figure>
                        <img src="{{authorDetails['avatar-url']}}"/>
                    </figure>
                {% else %}
                    <figure>
                        <img src="{{ assetPath('main/default_author.svg') }}"/>
                    </figure>
                {% endif %}
            </div>
            <div class="author-name">
                <h2>{{authorDetails['name']}}</h2>
                <p>{{ authorDetails['bio'] | raw }}</p>
            </div>
        </div>
    </section>
    <section class="author-page__stories-section">
        <div class="author-stories">
            {% include "shared/stories_list_horizontal" with {'stories': authorStories} %}
        </div>
    </section>
    {% include "story/elements/loadmore" %}
</div>
<script type="text/javascript">
 var params= $.extend( {{params|json_encode |raw}}, { limit: 9, offset: 9 } );
 qtReady.push(function() {
   app.loadMoreStories('#loadmore', '.author-stories', params, 'search');
 })
</script>
