<div class="content"><!-- content open-->
    <section><!--  Section 2 open-->

        <div class="leftcontainer">
            {% for story in stories|slice(0,1)  %}
                <a href='{{story['slug']}}'>
                    <div class="figcontainer">
                        <h5 class="sectionname__display">{{story['sections'][0]['name']}}</h5>
                        <div class="titletop_big">{{story["headline"]}}</div>
                        <div class="sourcetop_left">API Reurters</div>

                        <figure>

                            <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'],{w:700})}}" />
                        </figure>

                    </div>
                </a>
            {% endfor %}
        </div>	<!--  Left Container close-->
        <div class="rightcontainer" >
            {% for story in stories|slice(1,3)  %}
                <div class="rightitem" >
                    <a href='{{story['slug']}}'>
                        <div class="figcontainer">
                            <h6 class="sectionname__display">{{story['sections'][0]['name']}}</h6>
                            <div class="titletop_small">{{story["headline"]}}</div>
                            <div class="sourcetop">API Reurters</div>
                            <figure>
                                <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'],{w:300})}}" />

                            </figure>
                        </div>
                    </a>
                </div>
            {% endfor %}



        </div><!--  Right Container close-->

    </section><!--  Section 1 close-->


    <section><!--  Section 2 open-->
         {% for story in stories|slice(4,3)  %}
        <article><!--  Article1 open-->
             <a href='{{story['slug']}}'>
            <div class="wrap border">
                <div class="figcontainer">
                    <h5 class="sectionname__display">{{story['sections'][0]['name']}}</h5>
                    <figure>
                         <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'], {w: 400})}}" />
                    </figure>
                    <div class="sourcefrom">API Reurters</div>
                </div>

                <div class="textwrap">
                    <div class="article__title">
                       {{story["headline"]}}
                    </div>
                    <div class="article__desciption">
                        {{story["summary"]}}
                    </div>
                    <div class="textbottom">
                        <span class="textbottom__article">1</span>
                        <span><h5 class="textbottom__article__name">{{story["author-name"]}}</h5></span>
                        <span class="textbottom__article"> <time datetime="">{{story["published-at"] }}</time></span>
                    </div> <!-- textbottom close -->
                </div><!-- textwrap close -->
            </div>
                    </a>
        </article>
          {% endfor %}
    </section><!--  Section 2 close-->


    <section><!--  Section 2 open-->

        <div class="leftbig">
            <iframe src="https://art19.com/shows/inquiring-minds/episodes/e1241e76-2bd1-44cd-8ab6-6435ace2272f/embed?theme=dark-blue" style="width: 100%; height: 220px; border: 0 none;" scrolling="no"></iframe>


        </div>
        <div class="rightsmall" >
            <figure>
                <span class="sectionname__display">LIFESTYLE</span>
                <div class="titletop_small">5 Timeless Truths From The Serenity Prayer That Offer Wisdom Prayer That Offer</div>
                <div class="sourcetop">API Reurters</div>

                <img src='{{ assetPath("main/img4.jpg") }}' />

            </figure>

        </div>


        <a  class="more" href="#">More Podcasts>></a>
    </section><!--  Section 3 close-->



    <section><!--  Section 4 open-->

        <div class="sectionwrap">
            <div class="sectiontitle left"><span>VIDEOS</span></div>
            <article><!--  Article1 open-->
                <div class="figcontainer">
                    <figure>
                        <img src='{{ assetPath("main/7.jpg") }}' />
                    </figure>
                    <div class="vedicon"> <img src='{{ assetPath("main/viedo.png")}}'/></div>
                    <div class="sourcefrom">API Reurters</div>
                </div>

                <div class="textwrap">
                    <div class="article__title">
                        5 Timeless Truths From The Serenity Prayer That Offer Wisdom
                    </div>
                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon Doe</h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>
                    </div> <!-- textbottom close -->
                </div><!-- textwrap close -->

            </article>
            <article><!--  Article2 open-->
                <div class="figcontainer">
                    <figure>
                        <img src='{{ assetPath("main/2.jpg") }}' />
                    </figure>
                    <div class="vedicon"> <img src='{{ assetPath("main/viedo.png")}}'/></div>
                    <div class="sourcefrom">API Reurters</div>
                </div>

                <div class="textwrap">
                    <div class="article__title">
                        5 Times Joey was more thoughtful
                    </div>
                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Tim McDonnell </h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>

                    </div> <!-- textbottom close -->
                </div><!-- textwrap close -->
            </article>
            <article><!--  Article3 open-->
                <div class="figcontainer">
                    <figure>
                        <img src='{{ assetPath("main/4.jpg") }}' />
                    </figure>
                    <div class="vedicon"> <img src='{{ assetPath("main/viedo.png")}}'/></div>
                    <div class="sourcefrom">API Reurters</div>
                </div>

                <div class="textwrap">
                    <div class="article__title">
                        I-T probe into arms dealer unearths ‘Vadra home’ in UK
                    </div>

                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon McDonnell </h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>
                    </div> <!-- textbottom close -->
                </div> <!-- textwrap close -->


            </article>

        </div><!--  Section Wrap close-->
        <a class="more" href="#">More Videos>></a>

    </section><!--  Section 4 close-->



    <section><!--  Section 5 open-->

        <div class="sectionwrap">
            <div class="sectiontitle left"><span>WEATHER</span></div>
            <article><!--  Article1 open-->
                <div class="figcontainer">
                    <figure>
                        <img src='{{ assetPath("main/1.jpg") }}' />
                    </figure>
                    <div class="sourcefrom">API Reurters</div>
                </div>
                <div class="textwrap">
                    <div class="article__title">
                        5 Timeless Truths From The Serenity Prayer That Offer Wisdom
                    </div>
                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon McDonnell </h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>
                    </div> <!-- textbottom close -->
                </div><!-- textwrap close -->

            </article>
            <article><!--  Article2 open-->
                <div class="figcontainer">
                    <figure>
                        <img src='{{ assetPath("main/6.jpg") }}' />
                    </figure>
                    <div class="sourcefrom">API Reurters</div>
                </div>
                <div class="textwrap">
                    <div class="article__title">
                        5 Times Joey was more thoughtful
                    </div>
                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Tim 	McDonnell </h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>

                    </div> <!-- textbottom close -->
                </div><!-- textwrap close -->
            </article>
            <article><!--  Article3 open-->
                <div class="figcontainer">
                    <figure>
                        <img src='{{ assetPath("main/8.jpg") }}' />
                    </figure>
                    <div class="sourcefrom">API Reurters</div>
                </div>
                <div class="textwrap">
                    <div class="article__title">
                        I-T probe into arms dealer unearths ‘Vadra home’ in UK
                    </div>

                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon Doe</h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>
                    </div> <!-- textbottom close -->
                </div> <!-- textwrap close -->


            </article>

        </div><!--  Section Wrap close-->

        <a class="more" href="#">Read More >></a>
    </section><!--  Section 5 close-->

</div><!--  content close-->



<section class="unique"><!--  Section 5 open-->
    <div class="content">
        <div class="sectionwrap nob">

            <div class="uniquesec unique"> <span class="sectionname__unique"> MOST POPULAR </span></div>

            <article><!--  Article1 open-->
                <figure>

                    <img src='{{ assetPath("main/img1.jpg") }}' />
                </figure>
                <div class="sourcefrom">API Reurters</div>
                <div class="textwrap">
                    <div class="article__title">
                        5 Timeless Truths From The Serenity Prayer That Offer Wisdom
                    </div>
                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon Doe</h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>
                    </div> <!-- textbottom close -->
                </div><!-- textwrap close -->

            </article>
            <article><!--  Article2 open-->
                <figure>
                    <img src='{{ assetPath("main/img2.jpg") }}' />
                </figure>
                <div class="sourcefrom">API Reurters</div>
                <div class="textwrap">
                    <div class="article__title">
                        5 Times Joey was more thoughtful
                    </div>
                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon Doe</h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>

                    </div> <!-- textbottom close -->
                </div><!-- textwrap close -->
            </article>
            <article><!--  Article3 open-->
                <figure>

                    <img src='{{ assetPath("main/img3.jpg") }}' />
                </figure>
                <div class="sourcefrom">API Reurters</div>
                <div class="textwrap">
                    <div class="article__title">
                        I-T probe into arms dealer unearths ‘Vadra home’ in UK
                    </div>

                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon Doe</h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>
                    </div> <!-- textbottom close -->
                </div> <!-- textwrap close -->


            </article>
            <a  class="more" href="#">Read More>></a>
        </div><!--  Section Wrap close-->

    </div>	<!--  content close-->
</section><!--  Section 5 close-->
<div class="content"><!-- content open-->
    <section><!--  Section 5 open-->
        <div class="sectionwrap">
            <div class="sectiontitle left"><span>FOOD & HEALTH</span></div>

            <article><!--  Article1 open-->
                <div class="figcontainer">
                    <figure>
                        <img src='{{ assetPath("main/2.jpg") }}' />
                    </figure>
                    <div class="sourcefrom">API Reurters</div>
                </div>
                <div class="textwrap">
                    <div class="article__title">
                        5 Timeless Truths From The Serenity Prayer That Offer Wisdom
                    </div>
                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon Doe</h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>
                    </div> <!-- textbottom close -->
                </div><!-- textwrap close -->
            </article>
            <article><!--  Article2 open-->
                <div class="figcontainer">
                    <figure>
                        <img src='{{ assetPath("main/3.jpg") }}' />
                    </figure>
                    <div class="sourcefrom">API Reurters</div>
                </div>
                <div class="textwrap">
                    <div class="article__title">
                        5 Times Joey was more thoughtful
                    </div>
                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon Doe</h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>

                    </div> <!-- textbottom close -->
                </div><!-- textwrap close -->
            </article>
            <article><!--  Article3 open-->
                <div class="figcontainer">
                    <figure>
                        <img src='{{ assetPath("main/5.jpg") }}' />
                    </figure>
                    <div class="sourcefrom">API Reurters</div>
                </div>
                <div class="textwrap">
                    <div class="article__title">
                        I-T probe into arms dealer unearths ‘Vadra home’ in UK
                    </div>
                    <div class="textbottom">
                        <span> <h5 class="textbottom__article__name">Jhon Doe</h5></span>
                        <span class="textbottom__article"> <time datetime="">May 12,2015</time></span>
                    </div> <!-- textbottom close -->

                </div>

            </article><!--  Section Wrap close-->
            <div class="more textright"><a href="#">Read More</a>>></div>
        </div>
    </section><!--  Section 5 close-->
    <div class="clear"></div>

    <div class="section"><!--  Section 6 open-->

        <div class="sectiontitle"><span>OUR PATNERS</span></div>
        <div class="patners">
            <ul id="clientsdesk">
                <li><img src="{{ assetPath('patner-logos/atlantic.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/citylab.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/fusion.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/grist.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/guardian.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/huffpost.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/medium.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/motherjones.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/newrepublic.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/n.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/reveal.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/slate.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/wired.png') }}" /></li>
            </ul>

            <ul id="slider">
                <li><img src="{{ assetPath('patner-logos/atlantic.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/citylab.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/fusion.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/grist.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/guardian.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/huffpost.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/medium.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/motherjones.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/newrepublic.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/n.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/reveal.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/slate.png') }}" /></li>
                <li><img src="{{ assetPath('patner-logos/wired.png') }}" /></li>
            </ul>
        </div>

    </div><!--  content close-->
</div>