<div class="content"><!-- content open-->
    <section><!--  Section 2 open-->

        <div class="leftcontainer">
            {% for story in stories|slice(0,1)  %}
                <a href="{{story['slug']}}">
                    <div class="figcontainer">
                        <h6 class="sectionname__display">{{story['sections'][0]['name']}}</h6>
                        <div class="titletop_big">{{story["headline"]}}</div>
                        <div class="sourcetop_left">API Reurters</div>

                        <figure>
                            <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'],{w:700} )}}" />
                        </figure>

                    </div>
                </a>
            {% endfor %}
        </div>	<!--  Left Container close-->
        <div class="rightcontainer" >
            {% for story in stories|slice(1,3)  %}
                <div class="rightitem" >
                    <a href="{{story['slug']}}">
                        <div class="figcontainer">
                            <h6 class="sectionname__display">{{story['sections'][0]['name']}}</h6>
                            <div class="titletop_small">{{story["headline"]}}</div>
                            <div class="sourcetop">API Reurters</div>
                            <figure>
                                <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'],{w:300})}}" />

                            </figure>
                        </div>
                    </a>
                </div>
            {% endfor %}



        </div><!--  Right Container close-->

    </section><!--  Section 1 close-->


    <section><!--  Section 2 open-->
        {% for story in stories|slice(4,3)  %}
            <article><!--  Article1 open-->
                <a href="/{{story['slug']}}">
                    <div class="wrap border">
                        <div class="figcontainer">
                            <h6 class="sectionname__display">{{story['sections'][0]['name']}}</h6>
                            <figure>
                                <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'], {w: 400})}}" />
                            </figure>
                            <div class="sourcefrom">API Reurters</div>
                        </div>

                        <div class="textwrap">
                            <div class="article__title">
                                {{story["headline"]}}
                            </div>
                            <div class="article__desciption">
                                {{story["summary"]}}
                            </div>
                            <div class="textbottom">
                                <span class="textbottom__article">1</span>
                                <span><h5 class="textbottom__article__name">{{story["author-name"]}}</h5></span>
                                <span class="textbottom__article"> <time datetime="">
                                        {% set timestamp = (story["published-at"] / 1000)|round(0, 'floor') %}{{timestamp|date('M d,Y')}}

                                    </time></span>
                            </div> <!-- textbottom close -->
                        </div><!-- textwrap close -->
                    </div>
                </a>
            </article>
        {% endfor %}
    </section><!--  Section 2 close-->


    <section><!--  Section 3 open-->

        <div class="leftbig">
            <iframe src="https://art19.com/shows/inquiring-minds/episodes/e1241e76-2bd1-44cd-8ab6-6435ace2272f/embed?theme=dark-blue" style="width: 100%; height: 220px; border: 0 none;" scrolling="no"></iframe>
        </div>
        <div class="rightsmall" >
            {% for story in stories|slice(7,1)  %}
                <a href="/{{story['slug']}}">
                    <figure>
                        <span class="sectionname__display">{{story['sections'][0]['name']}}</span>
                        <div class="titletop_small"> {{story["headline"]}}</div>
                        <div class="sourcetop">API Reurters</div>
                        <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'], {w:400})}}" />

                    </figure>
                </a>
            {% endfor %}
        </div>

        <a  class="more" href="#">More Podcasts>></a>
    </section><!--  Section 3 close-->

<div class="ad_big" placeholder="Advertisement">  AD 728x90</div>

<div class="ad_mobile" placeholder="Advertisement">  AD 300x250</div>

    <section><!--  Section 4 open-->


        <div class="sectionwrap">
            <div class="sectiontitle left"><span>VIDEOS</span></div>
            {% for story in videos_stories|slice(0,3)  %}
                <article><!--  Article1 open-->
                    <div class="figcontainer">
                        <figure>
                            <a href="/{{story['slug']}}">   <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'], {w:400})}}" />
                            </a>
                        </figure>
                        <div class="vedicon"> <img src="{{ assetPath('main/viedo.png')}}"/></div>
                        <div class="sourcefrom">API Reurters</div>
                    </div>

                    <div class="textwrap">

                        <div class="article__title">
                            <a href="/{{story['slug']}}">    {{story["headline"]}} </a>
                        </div>
                        <div class="textbottom">
                            <span> <h5 class="textbottom__article__name">{{story["author-name"]}}</h5></span>


                            <span class="textbottom__article"> <time datetime="">{% set timestamp = (story["published-at"] / 1000)|round(0, 'floor') %}{{timestamp|date('M d,Y')}}</time></span>
                        </div> <!-- textbottom close -->
                    </div><!-- textwrap close -->


                </article>

            {% endfor %}




        </div><!--  Section Wrap close-->
        <a class="more" href="/section/video">More Videos>></a>

    </section><!--  Section 4 close-->

    <section><!--  Section 5 open-->

        <div class="sectionwrap">
            <div class="sectiontitle left"><span>WEATHER</span></div>
            {% for storys in weather_stories|slice(0,3) %}
                <article><!--  Article1 open-->
                    <div class="figcontainer">
                        <figure>

                            <a href="/{{story['slug']}}">
                                <img src="{{focusedImageUrl(storys['hero-image-s3-key'], [16,9], storys['hero-image-metadata'], {w:400})}}"/>
                            </a>
                        </figure>
                        <div class="sourcefrom">API Reurters</div>
                    </div>
                    <div class="textwrap">

                        <div class="article__title">
                            <a href="/{{story['slug']}}">   {{storys["headline"]}} </a>
                        </div>
                        <div class="textbottom">
                            <span> <h5 class="textbottom__article__name">{{storys["author-name"]}}</h5></span>
                            <span class="textbottom__article"> <time datetime="">{% set timestamp = (story["published-at"] / 1000)|round(0, 'floor') %}{{timestamp|date('M d,Y')}}</time></span>
                        </div> <!-- textbottom close -->
                    </div><!-- textwrap close -->


                </article>
            {% endfor %}



        </div><!--  Section Wrap close-->

        <a class="more" href="/section/weather">Read More >></a>
    </section><!--  Section 5 close-->

</div><!--  content close-->


<section class="unique"><!--  Section 5 open-->
    <div class="content">
        <div class="sectionwrap nob">

            <div class="uniquesec unique"> <span class="sectionname__unique"> MOST POPULAR </span></div>

            {% for story in breaking_news|slice(0,3) %}
                <article><!--  Article1 open-->
                    <figure>
                        <a href="/{{story['slug']}}">
                            <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'], {w:400})}}" /> 
                        </a>
                    </figure>
                    <div class="sourcefrom">API Reurters</div>
                    <div class="textwrap">
                        <div class="article__title">
                            <a href="/{{story['slug']}}">     {{story["headline"]}} </a>
                        </div>
                        <div class="textbottom">
                            <span> <h5 class="textbottom__article__name">{{story["author-name"]}}</h5></span>

                            <span class="textbottom__article"> <time datetime="">{% set timestamp = (story["published-at"] / 1000)|round(0, 'floor') %}{{timestamp|date('M d,Y')}}</time></span>
                        </div> <!-- textbottom close -->
                    </div><!-- textwrap close -->


                </article>
            {% endfor %}

            <a  class="more" href="#">Read More>></a>


        </div><!--  Section Wrap close-->

    </div>	<!--  content close-->
</section><!--  Section 5 close-->
<div class="ad_big" placeholder="Advertisement">  AD 728x90</div>
<div class="ad_mobile" placeholder="Advertisement">  AD 300x250</div>

<div class="content"><!-- content open-->
    <section><!--  Section 5 open-->
        <div class="sectionwrap">
            <div class="sectiontitle left"><span>FOOD & HEALTH</span></div>

            {% for story in food_stories|slice(0,3) %}
                <article><!--  Article1 open-->
                    <div class="figcontainer">

                        <figure>
                            <a href="/{{story['slug']}}">     <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'], {w:400})}}"/>
                            </a>
                        </figure>
                        <div class="sourcefrom">API Reurters</div>
                    </div>
                    <div class="textwrap">

                        <div class="article__title">
                            <a href="/{{story['slug']}}">       {{story["headline"]}} </a>
                        </div>
                        <div class="textbottom">
                            <span> <h5 class="textbottom__article__name">{{story["author-name"]}}</h5></span>
                            <span class="textbottom__article"> <time datetime="">{% set timestamp = (story["published-at"] / 1000)|round(0, 'floor') %}{{timestamp|date('M d,Y')}}</time></span>
                        </div> <!-- textbottom close -->
                    </div><!-- textwrap close -->
                </article>
            {% endfor %}



            <div class="more textright"><a href="/section/food-health">Read More</a>>></div>
        </div>
    </section><!--  Section 5 close-->
    <div class="clear"></div>

