<div class="content"><!-- content open-->
    <section><!--  Section 2 open-->

        <div class="leftcontainer">
            {% for story in stories|slice(0,1)  %}
                <a href="{{story['slug']}}">
                    <div class="figcontainer">
                        <h5 class="sectionname__display">{{story['sections'][0]['name']}}</h5>
                        <div class="titletop_big">{{story["headline"]}}</div>
                        <div class="sourcetop_left">API Reurters</div>

                        <figure>
                            <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'],{w:700} )}}" />
                        </figure>

                    </div>
                </a>
            {% endfor %}
        </div>	<!--  Left Container close-->
        <div class="rightcontainer" >
            {% for story in stories|slice(1,3)  %}
                <div class="rightitem" >
                    <a href="{{story['slug']}}">
                        <div class="figcontainer">
                            <h6 class="sectionname__display">{{story['sections'][0]['name']}}</h6>
                            <div class="titletop_small">{{story["headline"]}}</div>
                            <div class="sourcetop">API Reurters</div>
                            <figure>
                                <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'],{w:300})}}" />

                            </figure>
                        </div>
                    </a>
                </div>
            {% endfor %}



        </div><!--  Right Container close-->

    </section><!--  Section 1 close-->


    <section><!--  Section 2 open-->
        {% for story in stories|slice(4,3)  %}
            <article><!--  Article1 open-->
                <a href="{{story['slug']}}">
                    <div class="wrap border">
                        <div class="figcontainer">
                            <h5 class="sectionname__display">{{story['sections'][0]['name']}}</h5>
                            <figure>
                                <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'], {w: 400})}}" />
                            </figure>
                            <div class="sourcefrom">API Reurters</div>
                        </div>

                        <div class="textwrap">
                            <div class="article__title">
                                {{story["headline"]}}
                            </div>
                            <div class="article__desciption">
                                {{story["summary"]}}
                            </div>
                            <div class="textbottom">
                                <span class="textbottom__article">1</span>
                                <span><h5 class="textbottom__article__name">{{story["author-name"]}}</h5></span>
                                <span class="textbottom__article"> <time datetime="">
                                        {% set timestamp = (story["published-at"] / 1000)|round(0, 'floor') %}{{timestamp|date('M d,Y')}}

                                    </time></span>
                            </div> <!-- textbottom close -->
                        </div><!-- textwrap close -->
                    </div>
                </a>
            </article>
        {% endfor %}
    </section><!--  Section 2 close-->

