<div class="content"><!-- content open-->
    <section>
        <h3 class="line-title top-title">{{section['display-name']}}</h3>
   
        {% for story in section_stories|slice(0,1)  %}
            <div class="wrap">               <div class="section_left">
                    <a href="/{{story['slug']}}">
                        <div class="figcontainer">

                            <h6 class="sectionname__display">{{story['sections'][0]['name']}}</h6>
                            <div class="titletop_big">{{shorthead(story['headline'])}}</div>
                            <div class="textbottom_left">
                                {%  if story['metadata']['story-attributes'] %}
                                

                                    <div class="imagesd">
                                        <img src="{{  get_logo(story['metadata']['story-attributes']['partnerpublisher'][0] ) }}" />
                                    </div>

                                {% endif %}
                                <span><h5 class="textbottom__article__name">{{story["author-name"]}}</h5></span>
                            </div> <!-- textbottom close -->

                            <div class="sourcetop_left">{{ story["hero-image-attribution"] }}</div>


                            <figure>
                                <img src="{{focusedImageUrl(story['hero-image-s3-key'],config['image-cdn'], [16,9], story['hero-image-metadata'],{w:700} )}}" />
                            </figure>

                        </div>
                    </a>
                </div>

            {% endfor %}
            <div class="section_right"`>
                <div class="wrap nomar">
                    {% for story in section_stories|slice(1,1)  %}
                        <a href="/{{story['slug']}}">
                            
                                <div class="figcontainer">

                                    <figure>
                                        <img src="{{focusedImageUrl(story['hero-image-s3-key'],config['image-cdn'], [16,9], story['hero-image-metadata'],{w:400} )}}" />
                                    </figure>
                                    <div class="sourcefrom">{{ story["hero-image-attribution"] }}</div>
                                </div>

                                <div class="textwrap">
                                    <a href="/{{story['slug']}}">
                                        <div class="article__title">
                                            {{shorthead(story['headline'])}}
                                        </div>
                                    </a>
                                    <div class="article__desciption">
                                        {{ shortsummary(story["summary"])}}
                                    </div></div><!-- textwrap close -->
                                    <div class="textbottom">
                                        {%  if story['metadata']['story-attributes'] %}
                                           <div class="imagesd">
                                        <img class="testimg" src="{{  get_logo(story['metadata']['story-attributes']['partnerpublisher'][0] ) }}" />
                                    </div>
                                        {% endif %}
                                        <span><h5 class="textbottom__article__name">{{story["author-name"]}}</h5></span>
                                        <span class="textbottom__article"> <time datetime="">
                                                {% set timestamp = (story["first-published-at"] / 1000)|round(0, 'floor') %}{{timestamp|date('M d,Y')}}
                                            </time></span>
                                    </div> <!-- textbottom close -->
                                
                            
                        </a>

                    </div>
                </div>

            </div>
        {% endfor %}	



      <!--   <div class="section_center_ad" placeholder="Advertisement">  AD 300x250</div> -->

<div class="sectionsleft">

        {% for story in section_stories|slice(2,6)  %}                       
            <div class="wrap">
                <div class="article_left ">
                    <a href="/{{story['slug']}}">
                        <div class="figcontainer">
                            <figure>
                                <img src="{{focusedImageUrl(story['hero-image-s3-key'] ,config['image-cdn'], [16,9], story['hero-image-metadata'],{w:400} )}}" />
                            </figure>
                            <div class="sourcetop">{{ story["hero-image-attribution"] }}</div>
                        </div>
                    </a>
                </div>
                <div class="article_right ">
                    <a href="/{{story['slug']}}">

                        <div class="article__title">
                            {{shorthead(story['headline'])}}</div>
                    </a>
                    {%  if  story["summary"] %}
                        <div class="article__desciption">
                            {{ shortsummary(story["summary"])}}
                        </div>
                    {% endif %}
                    <div class="textbottom">
                        {%  if story['metadata']['story-attributes'] %}
                           <div class="imagesd">
                                        <img src="{{  get_logo(story['metadata']['story-attributes']['partnerpublisher'][0] ) }}" />
                                    </div>
                        {% endif %}

                        <span><h5 class="textbottom__article__name">{{story["author-name"]}}</h5></span>
                        <span class="textbottom__article"> <time datetime="">
                                {% set timestamp = (story["first-published-at"] / 1000)|round(0, 'floor') %}{{timestamp|date('M d,Y')}}
                            </time></span>
                    </div> <!-- textbottom close -->
                </div>
            </div>

        {% endfor %}

</div>
        <div class="sectionsright">
<img class="podcast_img" src="{{ assetPath('main/inquiring-ad-300x250_360.png') }}" />
        </div>
    </section>	

  {% include "story/elements/loadmore" %}

    <script type="text/javascript">
        $(document).ready(function () {

            $("#loadmore").click(function () {

//alert($(this).text());
            });

        });
    </script>
