<section class="sub-section-page">
    <h3 class="line-title top-title">{{section['display-name']}}</h3>
    <div class="top-stories">
        <div class="lead-story">
            <div class="lead-story-right-container">
                <div class="lead-story-image-container">
                    <a href="/{{section_stories[0]['slug']}}">
                        <figure>
                            <img src="{{focusedImageUrl(section_stories[0]['hero-image-s3-key'] ,config['image-cdn'], [7,5], section_stories[0]['hero-image-metadata'],{w:550} )}}"/>
                        </figure>
                    </a>
                </div>
                <div class="lead-story-content-container">
                    <a href="/{{section_stories[0]['slug']}}">
                        <div class="article__title">{{shorthead(section_stories[0]['headline'])}}</div>
                    </a>
                    {% if section_stories[0]["summary"] %}
                        <div class="article__desciption">
                            <p>{{section_stories[0]['summary']}}</p>
                        </div>
                    {% endif %}
                    <div class="author-name-description">
                        <a href="/author/{{section_stories[0]['author-id']}}">
                            by
                            {{section_stories[0]['author-name']}}
                        </a>
                        <time>on
                            {{ (section_stories[0]['first-published-at'] // 1000)|date('M d, Y')}}</time>
                    </div>
                </div>
            </div>
            <div class="lead-story-left-container">
                <div class="lead-story__add-box">
                    <img src="http://placehold.it/350x250">
                </div>
            </div>
        </div>
        <div class="top-stories__grid">
            {% for story in section_stories[1 : 3] %}
                <article class="article-grids">
                    <a href="/{{story['slug']}}" class="article__image-container">
                        <figure>
                            <img src="{{focusedImageUrl(story['hero-image-s3-key'] ,config['image-cdn'], [16,9], story['hero-image-metadata'],{w:400} )}}"/>
                        </figure>
                    </a>
                    <div class="grid__article">
                        <a href="/{{story['slug']}}" class="article__content-container">
                            <h4>{{story['headline']}}</h4>
                        </a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
    {% if section_stories | length > 4 %}
        <div class="layout-template">
            <div class="story-listing-loadmore">
                <div class="story-listing-loadmore__bottom-story-list">
                    <div id="load-more-stories-target" class="load-clearfix">
                        {% include "shared/stories_list" with {
                            'stories': section_stories | slice(9)
                        } %}
                    </div>
                    {% include "story/elements/loadmore" %}
                </div>
                <div class="story-listing-loadmore__bottom-story-list-rightads">
                    <img src="http://placehold.it/300x600">
                </div>
            </div>
        </div>
    {% endif %}
</section>

<script type="text/javascript">
    qtReady.push(function() {
        app.loadMoreStories('#loadmore', '#load-more-stories-target', {{ params | json_encode | raw }});
    })
</script>
