<div class="clear"></div>
 <div class="gallery-fix-div author-gallery-fix">
{% for story in stories %}
    <article>
        <div class="wrap border">
            <a href="/{{story['slug']}}">
                <div class="figcontainer">
                    <h6 class="sectionname__display">{{story['sections'][0]['name']}}</h6>
                    <figure>
                        <img src="{{focusedImageUrl(story['hero-image-s3-key'], config['image-cdn'], [16,9], story['hero-image-metadata'], {w: 400})}}"/>
                    </figure>
                    <span class="story-template-type">
                        {{story['story-template']}}
                    </span>
                    <div class="sourcefrom">{{ story["hero-image-attribution"] | raw }}</div>
                </div>

                <div class="textwrap">
                    <div class="article__title">
                        {{  shorthead(story["headline"]) }}
                    </div>
                    <div class="article__desciption">
                        {{ story["subheadline"] | striptags | slice(0,100) | raw  }}
                    </div>
                </div>
            </a>
            {% include "story/byline" %}
        </div>
    </article>
{% endfor %}
</div>
