<div class="js-story-header-content story-header__content"
        data-story-slug="{{storyData['slug']}}"
        data-story-id="{{storyData['id']}}">
  <h1 class="story-header__story-headline js-story-headline" itemprop="headline">
    <a href="/{{storyData['slug']}}">{{storyData["headline"]}}</a>
  </h1>
  {% if storyData["subheadline"] %}
  <div class='story-header__subtitle'>
    <span> {{storyData["subheadline"] | striptags |raw }}  </span>
  </div>
  {% endif %}
  <div class="textbottom__article storybyline">
    <div class="story-header__section-name">
      <span>{{storyData["sections"][0]["name"]}}</span>
    </div>
    <span class="textbottom__article__name" itemprop="author" itemscope itemtype="http://schema.org/Person">
    {% for authornames in storyData["authors"]  %}
    <a href="/author/{{authornames['author-id']}}">
      <span itemprop="name">{{ authornames['name'] }}</span>
    </a>
    {% if loop.index == (storyData["authors"] | length ) - 1 %} & {% else %}
    {% if loop.index != (storyData["authors"] | length ) %} , {% endif %} {% endif %}
    {% endfor %}
    {% if storyData["authors"] is empty %}
    <a href="/author/{{storyData['author-id']}}">
      <span itemprop="name">{{ storyData["author-name"] }}</span>
    </a>
    {% endif %}
    </span>
    {% if storyData["first-published-at"] %}
    <span class="textbottom__article--share" content="{{ dateIsoFormat(storyData['first-published-at'] // 1000) }}" itemprop="datePublished">
      <time>{% set timestamp = (storyData["first-published-at"]// 1000)|round(0, 'floor') %}{{ timestamp|date('M dS Y, h.i A' ,'Asia/Kolkata') }}</time>
      <time itemprop="dateModified" content="{{ dateIsoFormat(storyData['last-published-at'] // 1000) }}">
    </span>
    {% endif %}
    {% include "shared/socialshare" %}
  </div>
</div>
