<section class="photo-story">
  {% include "story/header-card" %}
  <div class="photo-story-image-slider js-photo-story-slider">
    {% for image in getPhotoStoryImages(storyData) %}
    <div>
      <figure>
        <img src="{{focusedImageUrl(image['image-s3-key'] ,config['image-cdn'], [16,9], image['image-metadata'],{w:500} )}}"/>
        <figcaption>{{image['title']}}</figcaption>
      </figure>
    </div>
    {% endfor %}
  </div>
  <div itemtype="https://schema.org/ImageObject" itemscope="itemscope" itemprop="image">
    <meta itemprop="url" content="{{focusedImageUrl(storyData['hero-image-s3-key'],config['image-cdn'], [16,9], storyData['hero-image-metadata'], {w: 1000})}}" class="story-img"></meta>
    <span content="{{storyData['hero-image-metadata']['width']}}" itemprop="width"></span>
    <span content="{{storyData['hero-image-metadata']['height']}}" itemprop="height"></span>
  </div>
  <div class="story-body">
    <div itemprop="articleBody">
      {% include "story/cards" with {'storyCards': storyData['cards']} %}
    </div>
    {% include "story/tags" with {'storyTags': storyData['tags']} %}
    {% include "story/ads" %}
  </div>
</section>
