<div class="content">
    <div class="story-template">
        <div class="story-template__story">
            <div class="js-story-header-content story-template__story-head"
                  data-story-slug="{{storyData['slug']}}"
                  data-story-id="{{storyData['id']}}">
                <p><span>In</span>&nbsp;{{ sectionNames }}</p>
                <h1 itemprop="headline">{{ storyData['headline'] }}</h1>
                <div class="story-template__story-head__author">
                    <div class="author-pic" itemtype="https://schema.org/ImageObject" itemscope="itemscope" itemprop="image">
                        <img itemprop="url" class="author-image" src="{{focusedImageUrl(authorDetails['avatar-s3-key'],config['image-cdn'], [16,9], [], {w: 200})}}"/>
                        <span content="{{storyData['hero-image-metadata']['width']}}" itemprop="width"></span>
                        <span content="{{storyData['hero-image-metadata']['height']}}" itemprop="height"></span>
                    </div>
                    <div class="author-box">
                      <span itemtype="https://schema.org/Person" itemscope="itemscope" itemprop="author">
                        <p class="author-box__name" itemprop="name">By {{authorDetails['name']}}</p>
                      </span>
                      <time content="{{ ((storyData['first-published-at'] // 1000)|date('M d, Y'))| date(DATE_ISO8601) }}" itemprop="datePublished" class="author-box_detail">{{ (storyData['first-published-at'] // 1000)|date('M d, Y') }}</time>
                      <time itemprop="dateModified" content="{{ ((storyData['last-published-at'] // 1000)|date('M dS Y, h.i A' ,'Asia/Kolkata'))| date(DATE_ISO8601) }}">
                    </div>
                </div>
            </div>

            <!-- /60988533/Rio_Story_LB2 -->
            <div class="ad_big">
              {% include 'ads/Story_LB2_placeholder' %}
            </div>

            <!-- /60988533/Rio_Story_Mrec2 -->
            <div class="ad_mobile">
              {% include 'ads/Story_Mrec2_placeholder' %}
            </div>

            <div class="story-template__story-headimage">
                <img src="{{focusedImageUrl(storyData['hero-image-s3-key'],config['image-cdn'], [16,9], storyData['hero-image-metadata'], {w: 1000})}}" class="story-img"/>
            </div>
            <div class="story-template__story-recipe-preparation-box">
                <ul>
                    <li>Prep Time
                        <br/>
                        <span>{{storyData['metadata']['story-attributes']['preprationtime'][0]}} Minutes</span></li>
                    <li>Cook Time
                        <br/>
                        <span>{{storyData['metadata']['story-attributes']['cookingtime'][0]}} Minutes</span></li>
                    <li>Serving
                        <br/>
                        <span>{{storyData['metadata']['story-attributes']['servings'][0]}} Persons</span></li>
                    <li>Difficulty Level
                        <br/>
                        <span>{{storyData['metadata']['story-attributes']['difficultylevel'][0]}}</span></li>
                </ul>
            </div>
            {% for card in storyData['cards'] | slice(0,1)  %}
                <div class="story-template__story-content-story-section">
                       <div class="story-template__story-content-story-section__left">
                          <ul> Ingredients
                              {% for storyElement in card['story-elements'] %}
                              {% for Elements in storyElement['story-elements'] %}
                                  <li>{{Elements['text'] }}</li>
                              {% endfor %}
                              {% endfor %}
                          </ul>
                        </div>
                        <div class="story-template__story-content-story-section__right" itemprop="articleBody">
                             <p>Instructions</p>
                             {% for storyElement in card['story-elements'] %}
                              {% if storyElement['subtype'] == null %}
                                  <p>{{ storyElement['text'] | raw }}</p>
                              {% endif %}
                            {% endfor %}

                            {% for card in storyData['cards'] | slice(1) %}
                              <div class="card {{ card['metadata']['attributes']['alignment'][0] }}">
                                {% include "story/card" with {'storyElements': card['story-elements'] } %}
                              </div>
                            {% endfor %}

                        </div>
                </div>
            {% endfor %}

            <div class="story-template__story-rate-recipe-section">
                <div class="story-template__story-rate-recipe-section__tab">
                    <ul class="tabs">
                        <li class="tab-item tab-item--active"><a href="javascript:void(0)">Rate This Recipe</a></li>
                    </ul>
                </div>
                <div class="story-template__story-rate-recipe-section__tab-content">
                    <div class="story-template__story-rate-recipe-section__tab-content__imagebox">
                        <img src="http://placehold.it/100x100">
                    </div>
                    <div class="story-template__story-rate-recipe-section__tab-content__ratenow js-rating-widget">
                        <p><span class ="rater_count">{{getRatingValues['rater-count']}}</span> People Rated This Recepie</p>
                        <span class="unrated-stars" id="rating">
                        <span data-rating="1" class="star">★</span>
                        <span data-rating="2" class="star">★</span>
                        <span data-rating="3" class="star">★</span>
                        <span data-rating="4" class="star">★</span>
                        <span data-rating="5" class="star">★</span>
                        </span>
                    </div>
                    <div class="story-template__story-rate-recipe-section__tab-content__already-rated">
                        <p>Average Rating</p>
                        <div class="rated-stars">
                            <span class="star-percentage">★★★★★</span>
                            <span class="star-percentage star-percentage-rated" style="width:{{getRatingValues['rating-percentage']}}%;">★★★★★</span>
                        </div>
                        <span class="rated-value">{{getRatingValues['average-rating']}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content -->

<script>
  var storyId = '{{storyData['story-content-id']}}';
  var user_rating = "user_rating";
  var ratingValue = getCookie(user_rating);

  if (ratingValue >= 1 && ratingValue <= 5){
    ratedOnce(ratingValue);
  } else {
    $(".star").click(function(){
      var rating = $(this).attr("data-rating");
      document.cookie = "user_rating = "+rating;
      ratedOnce(rating);
      updateRating(storyId, rating);
    });
  }

  function ratedOnce(rating){
    this.ratingStars = document.querySelectorAll('#rating span');
    for (var i = 0; i < rating ; i++) {
      this.ratingStars[i].classList.add('star-rated');
    }
    $(".star").off("click");
  }

  function updateRating(storyId, rating, token){
    $.ajax({
      type: "POST",
      url: "/api/stories/"+storyId+"/votes",
      data: JSON.stringify({ 'magnitude': parseInt(rating) }),
      contentType: 'application/json',
      success: function (data) {
        getAverageRating(storyId);
      },
      error: function (data) {
         console.log('Error:', data);
       }
     });
  }

  function getAverageRating(){
    $.get("/api/stories/"+storyId+"", function(data, status){
      var votes = data.story.votes;
      var numerator = 0; var noOfVoters = 0;
      for (var key in votes) {
       numerator += key * votes[key];
       noOfVoters += votes[key];
     }
     var rating = (numerator/noOfVoters);
     var averageRating = Math.round(rating * 10)/10; var ratingPercent = (averageRating * 100)/5;
     $(".rater_count").text(noOfVoters);
     $(".star-percentage-rated").width(ratingPercent+'%');
     $(".rated-value").text(averageRating);
   });
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
         return parseInt(c.substring(name.length, c.length));
      }
    }
    return "";
  }
</script>
