{% for story in stories %}                       
  <div class="wrap">
    <div class="article_left ">
      <a href="/{{story['slug']}}">
          <div class="figcontainer">
              <figure>
                  <img src="{{focusedImageUrl(story['hero-image-s3-key'] ,config['image-cdn'], [16,9], story['hero-image-metadata'],{w:400} )}}" />
              </figure>
              <div class="sourcetop">{{ story['hero-image-attribution'] | raw }}</div>
          </div>
      </a>
    </div>
    <div class="article_right ">
      <a href="/{{story['slug']}}">
        <div class="article__title">{{shorthead(story['headline'])}}</div>
      </a>
      {%  if  story["subheadline"] %}
        <div class="article__desciption">
          {{  story["subheadline"] | striptags | slice(0,100) | raw }}
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
