{% if dataElement['subtype'] == "summary" %}

    <div class='story-element-summary'> {{ dataElement['text'] | raw }} </div>

{% elseif dataElement['subtype'] == "blockquote" %}
    <div class="story-element-blockquote">
        <blockquote>	{{ dataElement['text'] | raw }}
        </blockquote>
    </div>


{% elseif dataElement['subtype'] == "quote" %}
    <div class="text story-element-quote">

        {{ dataElement['text'] | raw }}
    </div>


{% elseif dataElement['subtype'] == "blurb" %}
    <div class="text story-element-blurb">
        {{ dataElement['text'] | raw }}
    </div>
{% elseif dataElement['subtype'] == "bigfact" %}
    <div class="text story-element-bigfact">
        <h2>{{ dataElement['metadata']['attribution'] | raw }}</h2>
        <div class="context">
            <p>{{ dataElement['metadata']['content'] | raw }}</p>
        </div>
    </div>

{% elseif dataElement['subtype'] == "q-and-a" %}
    <div class="text story-element-ques-and-ans">
        <h5>{{ dataElement['text'] | raw }}</h5>
        <div class="answer">
            <p></p>
        </div>
    </div>


{% else %}
    <div class="story-element-text">
        {{ dataElement['text'] | raw }}
    </div>
{% endif %}




